h1{
    color: blue;
}
body{
    background-color: lightblue;
}
#encabezado{
    background-color: white;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
}
.menu{
    background-color: lightcoral;
    width: 65%; 
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;   
    background-color: lightgreen;
}
.menu ul li{
    margin: 0;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    color: white;
    padding: 15px 20px;
}
.redes{
    background-color: lightblue;
    width: 20%;
}
.logo{
    background-color: gray;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    max-width: 100%;
    height: auto;
}

